html,
body{
	height: 100%;
	margin: 0;
}
html.
button,
input,
select,
textarea{
	color:#222;
}
body{
	font-size:1em;
	line-height:1.4;
}
hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}
img{
	max-width:100%;
	vertical-align: middle;
}
.flex{
	display:flex;
}
.container{
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
}
.card{
	background-color:#fff;
	padding:2em;
	overflow:hidden;
	position:relative;
}
.card.soft{
		box-shadow:0 0 10px rgba(0,0,0,0.1);
		border-radius:0.5em;
}
.hidden{
	display:none;
}